.compra__contenedor {
  position: relative;
}

.compra__contenedor .form__group-compra {
  width: 240px;
  height: 280px;
  /*background: yellow;*/
  position: absolute;
  top: 70px;
  padding: 10px;
  margin-left: 40px;
}

.compra__contenedor .form__group-datos {
  margin-top: 2px;
}

.compra__contenedor .form__label {
  color: #222;
  font-size: 18px;
}

.compra__contenedor .buton_group-compra {
  margin-top: 10px;
}

.hidden {
  display: block;
}

.form__group-compra-activo .formulario__label {
  color: #1ed12d;
  opacity: 1;
}

.formulario__mensajeCompra-exito {
  font-size: 14px;
  color: #119200;
  display: none;
}

.formulario__mensajeCompra-exito-activo {
  display: block;
}

.formulario__mensajeCompra {
  width: 185px;
  height: 45px;
  line-height: 45px;
  background: #f66060;
  padding: 0 15px;
  border-radius: 3px;
  display: none;
  margin-top: 5px;
  margin-left: -12px;
  font-size: 10px;
}

.formulario__mensajeCompra-activo {
  display: block;
}

.formulario__mensaje p {
  margin: 0;
}

/* Contenedor 3 Respuestas */

contenido3 {
  width: 100%;
  height: 500px;
  background: rgb(201, 201, 202);
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  width: 90%;
  height: 95%;
  background: darkblue;
}

.title {
  width: 244px;
  height: 50px;
  background: chartreuse;
  text-align: center;
}
.title > h3 {
  padding-top: 12px;
}

section .contenido {
  margin-top: 12px;
  height: 400px;
  background: darkgreen;
}

.contenido ul {
  margin-left: 15px;
  padding: 10px;
}

.contenido ul li {
  margin-top: 10px;
  list-style: none;
}
